*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: white;
}

.fa-solid {
    font-size: 0.8rem;
}

.container {
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    background-color: white;
}

.sidebar{
    width:30%;
    position:sticky;
    top:0;
    height:100vh;

    padding: 4rem;
    background-color: #1F2A44;
    color:white;

    display:flex;
    flex-direction: column;
    gap:2rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1F2A44;

    flex:1;
}

.link{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1F2A44;
}

.image-box{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow:hidden;
    border-radius:50%;
    justify-self: center;
}

.image-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.info{
    background-color: #1F2A44;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info h1{
    font-size: 2rem;
    color:white;
    background-color: #1F2A44;
    font-weight: 10rem;
}

.info h2{
    font-size: 1.25rem;
    color:white;
    background-color: #1F2A44;
    font-weight: normal;
}

.info p{
    font-size: 1rem;
    color:#C6A75E;
    background-color: #1F2A44;
}

.button{
    font-size: 0.75rem;
    display:flex;
    flex-direction:column;
    gap: 0.25rem;
    width:fit-content;
    height: fit-content;
    
    background-color: #1F2A44;
    font-weight: bold;
}

.button a{
    color: #C6A75E;
    text-decoration: none;
    background-color: #1F2A44;
}

.button a:hover{
    color: white;
    transition: .4s;
}

.cta{
    font-size: 1rem;
    display:flex;
    flex-direction:column;
    background-color: #1F2A44;
    font-weight: bold;
}

.cta .btn{
    display:inline-block;
    width:fit-content;
    padding:0.5rem 1rem;

    background-color:#C6A75E;
    color:#1F2A44;

    text-decoration:none;
    font-weight:10rem;

    border-radius:200px;
    font-weight: bold;
}

.cta .btn:hover{
    background-color:white;
    color:#1F2A44;
    transition: 0.4s;
}

.sci{
    background-color: #1F2A44;
}

.sci i{
    font-size: 2rem;
    color: #C6A75E;
    background-color: #1F2A44;
}

.sci a{
    text-decoration: none;
    color: #C6A75E;
    background-color: #1F2A44;
}

.sci i:hover{
    color: white;
    transition: 0.4s;
}

.content {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 4rem;
}

.content h1{
    color:#1F2A44;
    font-size: 2rem;
    font-weight: 10rem;
    margin-bottom: 2rem;
}

.content h2{
    color:#1F2A44;
    font-size: 1.25rem;
    font-weight: norma;
    margin-bottom: 0.5rem;
}

.content h3{
    color:#1F2A44;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.content p{
    color:#1F2A44;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.content .experience{
    display:flex;
    flex-direction: column;
}

.exp-cards{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}

.exp-item{
    display: grid;
    grid-template-columns: 16rem auto;
    grid-template-rows: auto auto auto auto;
    border-bottom:0.1rem solid #cfd3dd;
}

.exp-year {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.exp-year h2{
    color: #7f89a0;
    font-size: 1rem;
}

.exp-pos {
    grid-column: 2;
    grid-row: 1;
}

.exp-employer {
    grid-column: 2;
    grid-row: 2;
}

.exp-employer h3{
    color:#7f89a0
}

.exp-content {
    grid-column: 2;
    grid-row: 3;
}

.exp-skills {
    grid-column: 2;
    grid-row: 4;
    margin-bottom: 2rem;
}

.skills-item{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    color: #9E7A2E;
    font-weight: normal;
}

.skills-item li:not(:last-child)::after{
    content: " · ";
    font-size: 1rem;
    margin: 0 0.5rem;
}

.project-filter{
    display:flex;
    gap:2rem;
    margin-bottom: 2rem;
}

.project-filter button{
    background:none;
    border:none;
    color:#456397;
    font-size:1rem;
    font-weight:bold;
    cursor:pointer;
}

.project-filter button:hover{
    color:#1F2A44;
    transition: .4s;
}

.project-filter button.active{
    color:#C6A75E;
}

.proj-cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.proj-item{
    position: relative;
    display: block;
    padding: 0 0 0 1.5rem;

    text-decoration: none;
    color: inherit;
}

.proj-item::before{
    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 0.2rem;
    height: 100%;

    background: #cfd3dd;

    border-radius: 999px;

    transition: .4s ease;
}

.proj-item[data-category=geodata]:hover::before{
    width: 0.5rem;
    background:#C6A75E;
}

.proj-item[data-category=geomatics]:hover::before{
    width: 0.5rem;
    background:#7f89a0;
}

.proj-item[data-category=other]:hover::before{
    width: 0.5rem;
    background:#7f89a0;
}

.proj-year h2{
    color: #7f89a0;
    font-size: 0.8rem;
}

.proj-loc h3{
    color: #7f89a0;
}

.proj-skills {
    margin-bottom: 0.5rem;
}

.proj-link {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 0.8rem;
}

.proj-link a{
    text-decoration: none;
    color: #456397;
    font-weight: bold;
}

.proj-link a:hover{
    color: #1F2A44;
    transition: .4s;
}

.proj-link i{
    font-size: 0.6rem;
}

.proj-number{

    font-size:0.9rem;
    font-weight:700;
    color:#7f89a0;
    margin-bottom:.5rem;

}

@media (min-width: 701px) and (max-width: 1400px){

    .container{
        flex-direction:column;
        max-width: 100%;
    }

    .sidebar,
    .content{
        width:100%;
    }

    .content{
        padding:1 2rem;
    }

    .sidebar{
        padding: 4rem 2rem;
        position:static;
        height:24rem;

        display:flex;
        flex-direction: row;
        gap: 2rem;
    }

    .hero-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero-content .link{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }


    .image-box{
        margin: 0 auto;
        width: auto;
        height: clamp(8rem, 16rem, 100%);
    }

    .button{
        grid-column: 2 / span 2;
        grid-row: 2;
        flex-direction:row;
        gap: clamp(1rem, 1.5rem, 2rem);
    }

    .cta{
        grid-column: 2;
        grid-row: 3;
    }

    .sci{
        grid-column: 3;
        grid-row: 3;
    }

}

@media (max-width: 700px){

    .container{
        flex-direction:column;
        max-width: 100%;
    }

    .sidebar,
    .content{
        width:100%;
        padding: 4rem 2rem;
    }

    .sidebar{
        position:static;
        height:auto;
        display:flex;
        flex-direction: column;
    }

    .content{
        gap:4rem;
    }

    .image-box{
        width: 16rem;
        display: none;
    }

    .hero-content{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .hero-content .button{
        display: none;  
    }

    .link{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
    }

    .exp-item{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

}
