*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.tittle .tittle-box{
    background: red;
    padding: 1vw 9% 0;
}

.tittle .tittle-box h1{
    color: white;
    font-weight: bolder;
    font-size:40px;
}

.home{
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 1vw 9% 0;
    
}

.home-info h1{
    font-size: 3vw;
}

.home-info h2{
    font-size: 2vw;
    margin-top: -10px;
}

.home-info p{
    font-size: 1.2vw;
    margin: 10px 5vw 25px 0px;
}

.home-info .button a{
    display: flex;
    text-decoration: none;
}

.home-image .image-box{
    width: 30vw;
    height: 30vw;
    background: red;
    overflow: hidden;
}

/* .home-image .image-box .image-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;

} */

.home-image .image-box img{
    /* position: absolute; */
    display: block;
    width:100%;
    object-fit: cover;
    transform: translateY(-20vw);
}